In [13]:

import yaml
import pandas as pd

In [24]:
with open("config.yaml", "r") as file:
    config = yaml.safe_load(file)

In [30]:

host = config["database"]["host"]
db = config["database"]["db"]
user = config["database"]["user"]
password = config["database"]["password"]

In [2]:
url = 'https://www.nrc.gov/reading-rm/doc-collections/event-status/reactor-status/powerreactorstatusforlast365days.txt'
df = pd.read_csv(url, sep='|')

In [3]:
df.head()

                ReportDt                Unit  Power
0  5/21/2025 12:00:00 AM  Arkansas Nuclear 1    100
1  5/21/2025 12:00:00 AM  Arkansas Nuclear 2    100
2  5/21/2025 12:00:00 AM     Beaver Valley 1    100
3  5/21/2025 12:00:00 AM     Beaver Valley 2     99
4  5/21/2025 12:00:00 AM         Braidwood 1    100

In [31]:
#host = 'dpg-d0hgdbje5dus73b0p46g-a'
#db = 'db_liff'
#user = 'leandro'
#password = 'hzDmvVasWuYwusLh09fKEuwX3uPFY9zI'

conn = f'postgresql://{user}:{password}@{host}.oregon-postgres.render.com/{db}'
#conn = f'postgresql://leandro:hzDmvVasWuYwusLh09fKEuwX3uPFY9zI@dpg-d0hgdbje5dus73b0p46g-a/db_liff'

In [33]:
from sqlalchemy import create_engine
engine = create_engine(conn)
con = engine.connect()

In [10]:
pd.DataFrame({'a': [1,2,3]}).to_sql('test', con=con, if_exists='replace', index=False)

3

In [34]:
pd.read_sql('SELECT * FROM test', con=con)

   a
0  1
1  2
2  3

In [35]:
con.close()
engine.dispose()